In [ ]:
# Import required libraries
import pandas as pd
import numpy as np

In [ ]:
# Load dataset into pandas dataframe
df = pd.read_csv('./Datasets/train.csv')

In [ ]:
df

In [ ]:
# Check the dimensions of dataframe. It gives number of rows and columns present in dataset 
df.shape

In [ ]:
# Check the columns present in dataset
df.columns

In [ ]:
# Check total size (rows * columns)
df.size

In [ ]:
# Check the datatypes of each column
df.dtypes

In [ ]:
# Check for missing values. This give the count of missing values of each column in dataset
df.isnull().sum()

In [ ]:
# Check the initial statistics. It gives mean, standard deviation, 1st quantile, 2nd quntile, 3rd quntile and max value of each
# column of dataset
df.describe()

In [ ]:
df.info()

In [ ]:
# HANDEL MISSING VALUES

In [ ]:
#1. fillna() : method we can use to replace null(NaN) value with some other. We can perfrom forward fill(ffill) and backword fill(bfill)

#2. interpolation() : Perform liner interpolation

#3. dropna() : It will drop all the rows that have NaN values. But by performing this operation we may loss data.

In [ ]:
df.columns

In [ ]:
# This will replace all the values in column 'cabin' which are NaN with unknown value
df['cabin'] = df['cabin'].replace(to_replace=np.nan,value='unknown')

In [ ]:
df['cabin']

In [ ]:
df['age'] = df['age'].interpolate()

In [ ]:
df['age']

In [ ]:
df.isnull().sum()

In [ ]:
df['embarked'] = df['embarked'].replace(to_replace=np.nan,value='C')

In [ ]:
df.isnull().sum()

In [ ]:
df.dtypes

In [ ]:
# Changing data type of age
df['age'] = df['age'].astype('int64')

In [ ]:
df.dtypes

In [ ]:
# Turning catergorical variables into quantitive
quantitative_data = pd.get_dummies(df['embarked'],prefix='Embarked')

In [ ]:
quantitative_data

In [ ]:
# This will join both the tables
df.join(quantitative_data)

In [ ]:
# This will drop the column with name embarked
# axis 0 -> rows axis -> 1 columns
# inplace will modify original dataframe
df.drop('embarked',axis=1,inplace = True)
df

In [ ]:
df

In [ ]:
df.insert(6,column='embarked',value='S')

In [ ]:
df

In [ ]:
df.dtypes